/* GLOBAL */
div { display: block; }
body {
    background: #000;
    color: #a99877;
    font: normal 13px/1.5 Arial, sans-serif;
    -webkit-background-size: auto;
}
a { color: #ad835a; text-decoration: none }
a:hover { color: #fff; }

.fl-left { float: left; }
.fl-right { float: right; }

.clear {
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
}

.small { font-size: 11px }


.ui-breadcrumb {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}
.ui-breadcrumb li { float: left; margin-right: 5px; }
.ui-breadcrumb li a { display: inline-block; }

/*----------------------------------------------
	Reusable Icons
----------------------------------------------*/

.icon-24,
.icon-16 { display: inline-block; width: 24px; height: 24px; vertical-align: middle; background: url("/static/images/test/sprite.png") no-repeat; font-size: 1px; }
.ie6 .icon-24,
.ie6 .icon-16 { background-image: url("/static/images/test/sprite.png"); }

.icon-16 { width: 16px; height: 16px; }

/* mini */
.icon-16-plus { background-position: -52px 0; }
.icon-16-rarrow { background-position: -52px -16px; }
.icon-16-larrow { background-position: -52px -32px; }
.icon-16-uarrow { background-position: -52px -48px; }
.icon-16-darrow { background-position: -52px -64px; }
.icon-16-close { background-position: -52px -80px; }
.icon-16-return { background-position: -52px -96px; }
.icon-16-jump { background-position: -52px -112px; }
.icon-16-rarrow-small { background-position: -52px -128px; }
.icon-16-gold { background-position: -52px -289px; }
.icon-16-reset { background-position: -52px -304px; }
.icon-16-search { background-position: -52px -320px; }

a:hover .icon-16-plus { background-position: -68px 0; }
a:hover .icon-16-rarrow { background-position: -68px -16px; }
a:hover .icon-16-larrow { background-position: -68px -32px; }
a:hover .icon-16-uarrow { background-position: -68px -48px; }
a:hover .icon-16-darrow { background-position: -68px -64px; }
a:hover .icon-16-close { background-position: -68px -80px; }
a:hover .icon-16-return { background-position: -68px -96px; }
a:hover .icon-16-jump { background-position: -68px -112px; }
a:hover .icon-16-rarrow-small { background-position: -68px -128px; }


.db-filters .filter-tabs li { display: inline-block; font-size: 12px; margin-bottom: 5px; }
.db-filters .filter-tabs li a { display: block; padding: 6px 15px; background: #000000; border: 1px solid #211b14; margin-right: 2px;
	border-radius: 3px;
	box-shadow: 0 0 3px #000; }
.db-filters .filter-tabs li a:hover { background-color: #100d08; border-color: #2a241c; }
.db-filters .filter-tabs li a.tab-active { background-color: #201a11; border-color: #332d24; color: #F3E6D0 !important; font-weight: bold; }

/* CHARACTER INVENTORY */
