.dnd-tooltip {
	position: absolute;
    z-index: 9005;
    width: auto;
    height: auto;
	left: -28000px;
	top: -28000px;
	display: none;
	direction: ltr;
}

.dnd-tooltip .qtip-content { position: relative; }

.dnd-tooltip .tooltip-weapon,.tooltip-container {
	font: 12px/1.5 Arial, Verdana, sans-serif;
	border: 1px solid #353837;
	color: #fff;
	background-color: rgba(15, 15, 15, 0.9);
	padding: 10px; 
	border-radius: 3px;
	font-size: 12px;
	max-width: 400px;
	min-width: 250px;
	box-shadow: #000 0 0 15px;
}

.dnd-tooltip h3 { font-size: 16px; font-weight: normal; white-space: nowrap; } /* title of the tooltip */
.dnd-tooltip li { display: block; clear: both; }
.dnd-tooltip a { color: white; }
.dnd-tooltip .more a { font-style: italic; color: gold }
.dnd-tooltip .more a:hover { text-decoration: underline }
.dnd-tooltip .tip { border-bottom: 0; }

.dnd-tooltip .flavor-text { color: #ffd100 !important; }
.dnd-tooltip .description { color: #666; font-style: italic; }

.icon-frame {
    display: inline-block;
    overflow: hidden;
    padding: 1px;
    background-color: #0b090b;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    border-radius: 3px;
    border: 1px solid #434445;
    border-bottom-color: #2f3032;
    border-top-color: #b1b2b4;
	background-size: cover;
	box-shadow: #000 0 0 15px;
}
.icon-frame.list {
	box-shadow: #000 0 0 3px;
	border: none;
}

.frame-16 { position: absolute; left: 5px; top: 3px; width: 16px; height: 16px; box-shadow: none; }
.frame-32 { position: absolute; left: -60px; top: 0px; }
.frame-36 { position: absolute; left: -56px; top: 0px; width: 36px; height: 36px; }
.frame-48 { position: absolute; left: -56px; top: 0px; width: 48px; height: 48px; }
.frame-56 { position: absolute; left: -64px; top: 0px; width: 56px; height: 56px; }
.dnd-tooltip .frame-150 { position: absolute; left: -175px; top: -10px; }
.dnd-tooltip .tooltip-content { position: relative; }
.dnd-tooltip .tooltip-list { margin-top: 1px; }
.dnd-tooltip .tooltip-list li { margin: 1px 0; line-height: 18px; }
.dnd-tooltip .tooltip-list .special { font-style: italic; font-weight: bold; font-color: #666; }
.dnd-tooltip .tooltip-list .icon-frame { float: left; margin-right: 1px; }
.dnd-tooltip .tooltip-list:after {clear: both}
.dnd-tooltip .container-contents { position: relative; font-family: Verdana; font-size: 10px; border: 1px solid #666; }
.wiki-container { cursor: pointer; }
ul.container-contents li { position: relative; padding: 3px 5px; padding-left: 30px; }
ul.container-contents li:first-child { padding-left: 5px; background-color: #000; }
ul.container-contents li:nth-child(odd) { background-color: #222; }
ul.container-contents li:nth-child(even) { background-color: #333; }

.wiki { position: relative; }
.wiki .info {
    width: auto;
}
.wiki .info .title { margin-bottom: 15px; }
.wiki .info .title h2 {
	font: 42px/100% "Palatino Linotype", Georgia, Times, sans-serif;
    letter-spacing: -1.5px;
    text-shadow: #241209 0 0 5px;
}
.wiki .info .item-detail {
	padding-left: 70px;
    width: 420px;
    position: relative;
}
.wiki .info .item-specs {
	font: normal 12px/1.5 Arial, Verdana, sans-serif;
	border: 1px solid #353837;
	color: #fff;
	background-color: rgba(15, 15, 15, 0.9);
	padding: 8px; 
	border-radius: 5px;
	box-shadow: #000 0 0 15px;
	min-height: 200px;
}

.item-detail .frame-56 {
	position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
}