.wrapper {
    width: 994px;
    margin: 0 auto;
    position: relative;
}
.wrapper .head {
	height: 225px;
	background: #12110f url("/static/images/test/wow/bg-index.jpg") 0 0 repeat;
}
.body {
    background: #12110f url("/static/images/test/content-bg.jpg") 0 0 repeat;
    padding-top: 15px;
    position: relative;
}
.body-top {
    background: url("/static/images/test/content-top.jpg") 0 0 no-repeat;
    padding-top: 15px;
}
.body-bot {
    padding-bottom: 75px;
    min-height: 500px;
    position: relative;
    background: url("/static/images/test/content-bot.jpg") 0 100% no-repeat;
}

.browse-wrapper { padding: 0 4px 30px 4px;
	display: grid;
	grid-template-columns: 220px auto;
	grid-template-areas:
	"header  header  header"
	"sidebar content content"
	"footer  footer  footer";
}
.browse-left {
	grid-area: sidebar;
	padding-top: 30px;
	border-right: 1px solid #2a241c;
}
.browse-right {
	grid-area: content;
	position: relative;
	padding: 30px;
}
.body-trail {
    height: 40px;
    width: 994px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 35;
    background: url("/static/images/test/trail-bg.png") 0 0 no-repeat;
}
.body-trail ol {
    padding: 7px 60px 13px 20px;
    background: url("/static/images/test/trail-bar.png") 100% 14px no-repeat;
}
/* breadcrumbs */
.ui-breadcrumb { font-size:11px;  }
.zh-tw .ui-breadcrumb { font-family: none }
.ui-breadcrumb li { padding-right:0; margin-right:0 }
.ui-breadcrumb li.last { padding: 0; }

.ui-breadcrumb li a { display:block }
.ui-breadcrumb li .breadcrumb-text { border-bottom:1px dotted #6D624C; color: #6D624C;}
.ui-breadcrumb li.last .breadcrumb-text { color: #a99877; border: none; max-width: 200px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: inline-block; }


.ui-breadcrumb li.children .breadcrumb-text { border-bottom:1px dotted #a99877; }
.ui-breadcrumb li a:hover .breadcrumb-text,
.ui-breadcrumb li a.opened .breadcrumb-text { color: #fff; border-color: #fff; }
.ui-breadcrumb li .breadcrumb-arrow:after { border:0; content:" "; display:inline-block; background: url("/static/images/test/flyout-arrows.gif") no-repeat -3px -230px; width: 12px; height: 10px; margin:2px 7px 0 0 }
.ie67 .ui-breadcrumb li .breadcrumb-arrow { margin-right:10px }

/*----------------------------------------------
	Page Template
----------------------------------------------*/

/* wrappers */
.page-header {  position: relative; }
.ie6 .page-header { zoom:1 }
.page-header .header-2 { margin-bottom: 15px; }
.page-header .header-2 small { color: #7B6D55; display: block; font-size: 14px; font-family: Arial, sans-serif; letter-spacing: normal; line-height: normal; padding-top: 10px; }
.ko-kr .page-header .header-2 small { font-family:Dotum }
.page-header .header-2 small a { color: #95856A; }

.page-header .desc { font-size: 14px; line-height: 2em; width: 45%; }
.page-body { margin: 30px 0; padding: 0 0px; }

.char-navigation { background: url("/static/images/test/navigation-bg.jpg") 100% 50px no-repeat; min-height: 860px; }
.char-navigation .subheader-2 { font-size: 26px; }
.char-navigation .subheader-2 a { display: block; padding-left: 30px; }
.char-navigation .header-3 { padding: 25px 0 5px 30px; line-height: 30px; background: url("/static/images/test/navigation-category.png") left bottom no-repeat; }
.char-navigation .subheader-3,
.char-navigation li a,
.char-navigation li .row { padding: 5px 0 5px 30px; display: block; }
.char-navigation li .row { color: #4E4536; }
.char-navigation .subheader-3 { color: #A99877; font-size: 12px; font-family: sans-serif; }
.char-navigation ul { padding-bottom: 1px; background: url("/static/images/test/navigation-divider.png") 0 100% no-repeat; }
.char-navigation li { padding-top: 1px; background: url("/static/images/test/navigation-divider.png") no-repeat; }
.char-navigation li a { display: block; font-size: 12px; position: relative; }
.char-navigation li a:hover { background-color: rgba(255, 255, 255, 0.03); }
.char-navigation li a.selected { font-weight: bold; color: #F3E6D0; background-color: rgba(0, 0, 0, .40) !important; }
.cjk .char-navigation li a.selected { font-weight:normal }
.char-navigation li.open { background-color: rgba(0, 0, 0, .40); padding-bottom: 5px; padding-top: 3px;
	box-shadow: inset 0 0 10px 0 #000; }
.char-navigation li.open ul { background: none; margin: 0; }
.char-navigation li.open li { background: none; }
.char-navigation li.open li a { padding-left: 45px; padding-right: 40px; word-wrap: break-word; }

.char-navigation .nav-portrait { position: absolute; left: 8px; top: 2px; }
.char-navigation .nav-rarrow { position: absolute; right: 12px; top: 4px; }
.char-navigation .tip { border-bottom: 0; }

.inv-container {
	background-color: #422c18;
	padding: 10px;
	border: 1px solid #000000;
	width: auto;
	border: 1px solid black;
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
	padding-top: 6px;
}
.inv-gridbox {
	position: relative;
	background-image: url("/static/images/character/inventory/grid.png");
	padding: 8px;
	padding-top: 7px;
	border: 1px solid #070707;
	width: 57px;
	height: 57px;
	box-sizing: content-box;
	overflow: hidden;
	display: table;
	float: left;
	vertical-align: top;
	box-shadow: 0 0 5px black;
	margin-top: 6px;
	margin-right: 6px; 
}
.inv-gridbox:first-child { margin-left: 0px; }
.inv-gridbox:last-child { margin-right: 0px; }
.inv-item {
	position: relative;
	display: table-cell;
	background-color: #0b090b;
	border: 1px solid #111;
	width: auto;
	height: auto;
	cursor: pointer;
	background-size: cover;
	border-radius: 3px;
	-webkit-transition: .2s all;
}
.inv-item .stack { position: absolute; right: 2px; bottom: 0px; color: #FFF; font-size: 10px; font-family: Verdana; text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);}
.inv-item:hover { -webkit-filter: brightness(250%); }

/* loot quality */
.loot-q0, .loot-q0 a { color: #9d9d9d !important; } /* poor (gray) */
.loot-q1, .loot-q1 a { color: #ffffff !important; } /* common (white) */
/* .loot-q2, .loot-q2 a { color: #1eff00 !important; } /* uncommon (green) */
.loot-q2, .loot-q2 a { color: #0081ff !important; } /* #0070dd rare (blue) */
.loot-q3, .loot-q3 a { color: #c600ff !important; } /* #a335ee epic (purple) */
.loot-q4, .loot-q4 a { color: #ff8000 !important; } /* lengendary (orange) */
.loot-q6, .loot-q6 a { color: #e5cc80 !important; } /* artifact (gold) */
.loot-q7, .loot-q7 a { color: #e5cc80 !important; } /* heirloom (gold) */

/* loot border quality */
.border-q0 { border-color: #9d9d9d !important; box-shadow: 0px 0px 5px 2px rgba(157,157,157,0.75); } /* poor (gray) (defective) */
.border-q1 { border-color: #262626 !important; box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75); } /* common (white) */
.border-qb { border-color: #1eff00 !important; box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75); } /* uncommon (green) */
.border-q2 { border-color: #00254d !important; box-shadow: 0px 0px 5px 2px rgba(0, 37, 77,0.75); } /* rare (blue) */
.border-q3 { border-color: #3d085e !important; box-shadow: 0px 0px 5px 2px rgba(61, 8, 94,0.75); } /* epic (purple) */
.border-q4 { border-color: #994d00 !important; box-shadow: 0px 0px 5px 2px rgba(153, 77, 0,0.75); } /* lengendary (orange) */
.border-q6 { border-color: #e5cc80 !important; } /* artifact (gold) */
.border-q7 { border-color: #e5cc80 !important; } /* heirloom (gold) */

.ui-filter.view { width: 15px; height: 15px; background: url("/static/images/test/sprite.png") -52px -304px no-repeat; }
.ui-filter.view { background-position: -52px -320px; }

ul.currency { display: inline; }
ul.currency li {
	display: inline-block;
	padding-right: 22px;
	position: relative;
	background-repeat: no-repeat;
	background-position: 100% -1px;
}
ul.currency .platinum { background-image: url("/static/images/character/currency/platinum.png");  }
ul.currency .gold { background-image: url("/static/images/character/currency/gold.png");  }
ul.currency .silver { background-image: url("/static/images/character/currency/silver.png");  }
ul.currency .copper { background-image: url("/static/images/character/currency/copper.png");  }