<div class="wiki">
	<div class="info">
		<div class="title">
			<h2 class="loot-q<%= quality %>">
				<% if (stack > 1) { %>
					<%= stack %>
				<% } %>
				<% if (typeof(prefix) !== "undefined") { %>
					<%= prefix.name %>
				<% } %>
				<%= name %><% if (stack > 1) { %>s<% } %>
				<% if (typeof(suffix) !== "undefined") { %>
					of <%= suffix.name %>
				<% } %>
			</h2>
		</div>
		<div class="item-detail">
			<span class="icon-frame frame-56" style="background-image: url('/static/images/character/inventory/items/<%= icon %>.png');"></span>
			<ul class="item-specs">
				<li>Grade: <%= fnParseGrade(grade) %><%= category %></li>
				<li>Material: <%= (typeof(material) !== "undefined" ? material.name : "") %></li>
				<li><span class="fl-right"><%= price %></span></li>
				<span class="clear"><!-- //--></span>
			</ul>
		</div>
	</div>
</div>