<div class="content">
	<span class="icon-frame frame-56" style="background-image: url('/static/images/character/inventory/items/<%= loot.icon %>.png');"></span>
	<h3 class="loot-q<%= loot.quality %>"><% (loot.stack > 1 ? print(loot.stack+" "+loot.name+"s") : print(loot.name)) %></h3>
	<ul class="tooltip-list">
		<li><%= fnParseGrade(grade) %> <%= (typeof(material) !== "undefined" ? material.name : "") %> <%= fnParseCategory(category) %>
		<li><%= fnParseGrouping(grouping) %>, <%= fnParseHandle(handle) %><span class="fl-right"><%= fnParseWeaponClass(wpn_class) %></span></li>
		<li>1 - 2 DPR <%= fnParseDamageType(dmg_type) %><span class="fl-right"><%= fnParseThreat(threat_range) %>, x<%= crit_mult %></span></li>
		<li>Weight: <span class="fl-right"><%= weight %></span>
		<li>Base Price: <span class="fl-right"><%= fnParsePrice(price) %></span></li>
		<% if (description) { %>
		<li class="description"><%= description %></li>
		<% } %>
		<span class="clear"><!-- //--></span>
	</ul>
</div>